{% load static %}
        <footer class="container-md p-0">
            <div class="row row-cols-auto pb-2 my-2 gray F4 border-bottom">
                <div class="col my-1"><a href="/board/companyintro">회사소개</a></div>
                <div class="col my-1"><a href="/board/privacy">개인정보처리방침</a></div>
                <div class="col my-1"><a href="/board/serviveterm">서비스이용약관</a></div>
                <div class="col my-1"><a href="https://forms.gle/ayNgmPxaGnhHDxU69">광고문의</a></div>
                <!--<div class="col my-1"><a href="/shop/">입점문의</a></div>-->
                <div class="col my-1"><a href="/board">고객센터</a></div>
            </div>
            <div class="row align-items-center m-0">
                <div class="col-xl-2 text-center p-0 my-2">
                    <a href="http://www.ideadream.co.kr" target="_blank">
                        <img class="img-fluid" src="{% static '아이디어드림_로고.png' %}">
                    </a>
                </div>
                <div class="col-xl-7 p-0 my-2">
                    <p class="gray" style="font-size:12px;">(주)아이디어드림 대표이사 박준석 | 개인정보 보호책임자 조영래 | 사업자 등록번호 776-88-01332 | 통신판매업신고번호 제 2020-의정부호원-0518호<br>경기도 의정부시 신흥로 234, 11층(의정부동) | Email. ideadream@ideadream.co.kr | TEL. 02-706-8290</p>
                    <p class="gray" style="font-size:11px;">(주)아이디어드림은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 상품, 상품정보, 거래에 관한 의무와 책임은 판매자에게 있습니다.</p>
                    <p class="gray" style="font-size:10px;">Copyright © (주)아이디어드림. All Rights Reserved.</p>
                </div>
                <div class="col-xl-3 my-2 text-center">
                    <!--<a href="#" target="_blank"><img src="{% static '그룹 2674.png' %}" style="margin:1px;"></a>-->
                    <a href="http://www.ideaclub.net" target="_blank"><img src="{% static '사각형 3283.png' %}" style="margin:1px;"></a>
                    <a href="http://www.ideamaker.co.kr" target="_blank"><img src="{% static '마스크 그룹 2.png' %}" style="margin:1px;"></a>
                    <a href="http://www.facebook.com/ideadream" target="_blank"><img src="{% static '그룹 2683.png' %}" style="margin:1px;"></a>
                    <a href="http://www.instagram.com/ideaclub_weekly/" target="_blank"><img src="{% static '그룹 2684.png' %}" style="margin:1px;"></a>
                    <a href="http://www.startuptv.co.kr" target="_blank"><img src="{% static '마스크 그룹 4.png' %}" style="margin:1px;"></a>
                </div>
            </div>
        </footer>