{% load static %}
<!DOCTYPE html>
<html lang="ko">
    {% include 'head.html' %}
    <body>
        <header class="container-md p-0">
            {% include 'tnb.html' %}
            {% include 'gnb.html' %}
        </header>
        <img src="{% static 'farm/이미지 121.png' %}" width="100%">
        <section class="container-md my-5 p-0">
            <h4 class="p-2 text-center my-4">분야별 베스트</h4>
            <div class="row align-items-center justify-content-center m-0">
                <div class="col-lg col-12 p-xxl-5 p-lg-2 p-0 my-2" align="center">
                    <div class="pb-2" style="background-color:#7F675B;border-radius:15px;">
                        <img src="{% static 'farm/56c000d6526813b375e63f8d-original.png' %}" class="w-100" height="550vh">
                        <h2 class="text-white m-2">지식콘텐츠<br>BEST</h2>
                        <a href="#"><p class="F3 m-3 p-2 border border-white text-white">전체보기 ▶</p></a>
                    </div>
                </div>
                <div class="col-lg-9 p-0" >
                    <div class="row">
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3466.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">히커스</p>
                            <p class="F3 textcut w-100 text-start mb-1">오피스 서류보관 테스크 정리 오거나이저 offlsys 세트</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">12,000원</span>
                                <span class="orange col-2 p-0">(8%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>3,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3508.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">익스트리모</p>
                            <p class="F3 textcut w-100 text-start mb-1">강력흡착 투명 양면테이프 세척사용 가능 3cmX1MX2mm</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">5,000원</span>
                                <span class="orange col-2 p-0">(10%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>4,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3509.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">스템프마마</p>
                            <p class="F3 textcut w-100 text-start mb-1">크래프트 핀셋</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">3,000원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>2,550원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 my-2 p-4 d-none d-xxl-block">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3510.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">아이비스</p>
                            <p class="F3 textcut w-100 text-start mb-1">1300 스틸플러스커터(SP) 11625</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">1,300원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>935원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3466.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">히커스</p>
                            <p class="F3 textcut w-100 text-start mb-1">오피스 서류보관 테스크 정리 오거나이저 offlsys 세트</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">12,000원</span>
                                <span class="orange col-2 p-0">(8%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>3,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3508.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">익스트리모</p>
                            <p class="F3 textcut w-100 text-start mb-1">강력흡착 투명 양면테이프 세척사용 가능 3cmX1MX2mm</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">5,000원</span>
                                <span class="orange col-2 p-0">(10%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>4,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3509.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">스템프마마</p>
                            <p class="F3 textcut w-100 text-start mb-1">크래프트 핀셋</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">3,000원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>2,550원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4 d-none d-xxl-block">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3510.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">아이비스</p>
                            <p class="F3 textcut w-100 text-start mb-1">1300 스틸플러스커터(SP) 11625</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">1,300원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>935원</strong></span>
                            </p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mx-0 my-2">
                <div class="col-lg col-12 p-xxl-5 p-lg-2 p-0 my-2 d-lg-none" align="center">
                    <div class="pb-2" style="background-color:#5296A5;border-radius:15px;">
                        <img src="{% static 'farm/170404_craftmanship_01.png' %}" width="100%" height="550vh">
                        <h2 class="text-white m-2">핸드메이드<br>BEST</h2>
                        <a href="#"><p class="F3 m-3 p-2 border border-white text-white">◀ 전체보기</p></a>
                    </div>
                </div>
                <div class="col-lg-9 p-0" >
                    <div class="row">
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3466.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">히커스</p>
                            <p class="F3 textcut w-100 text-start mb-1">오피스 서류보관 테스크 정리 오거나이저 offlsys 세트</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">12,000원</span>
                                <span class="orange col-2 p-0">(8%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>3,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3508.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">익스트리모</p>
                            <p class="F3 textcut w-100 text-start mb-1">강력흡착 투명 양면테이프 세척사용 가능 3cmX1MX2mm</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">5,000원</span>
                                <span class="orange col-2 p-0">(10%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>4,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3509.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">스템프마마</p>
                            <p class="F3 textcut w-100 text-start mb-1">크래프트 핀셋</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">3,000원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>2,550원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 my-2 p-4 d-none d-xxl-block">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3510.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">아이비스</p>
                            <p class="F3 textcut w-100 text-start mb-1">1300 스틸플러스커터(SP) 11625</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">1,300원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>935원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3466.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">히커스</p>
                            <p class="F3 textcut w-100 text-start mb-1">오피스 서류보관 테스크 정리 오거나이저 offlsys 세트</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">12,000원</span>
                                <span class="orange col-2 p-0">(8%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>3,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3508.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">익스트리모</p>
                            <p class="F3 textcut w-100 text-start mb-1">강력흡착 투명 양면테이프 세척사용 가능 3cmX1MX2mm</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">5,000원</span>
                                <span class="orange col-2 p-0">(10%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>4,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3509.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">스템프마마</p>
                            <p class="F3 textcut w-100 text-start mb-1">크래프트 핀셋</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">3,000원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>2,550원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4 d-none d-xxl-block">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3510.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">아이비스</p>
                            <p class="F3 textcut w-100 text-start mb-1">1300 스틸플러스커터(SP) 11625</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">1,300원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>935원</strong></span>
                            </p></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-12 p-xxl-5 p-lg-2 p-0 my-2 d-lg-block d-none" align="center">
                    <div class="pb-2" style="background-color:#5296A5;border-radius:15px;">
                        <img src="{% static 'farm/170404_craftmanship_01.png' %}" width="100%" height="550vh">
                        <h2 class="text-white m-2">핸드메이드<br>BEST</h2>
                        <a href="#"><p class="F3 m-3 p-2 border border-white text-white">◀ 전체보기</p></a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mx-0 my-2">
                <div class="col-lg col-12 p-xxl-5 p-lg-2 p-0 my-2" align="center">
                    <div class="pb-2" style="background-color:#E84855;border-radius:15px;">
                        <img src="{% static 'farm/56c000d6526813b375e63f8d-original2.png' %}" width="100%" height="550vh">
                        <h2 class="text-white m-2">아이디어상품<br>BEST</h2>
                        <a href="#"><p class="F3 m-3 p-2 border border-white text-white">전체보기 ▶</p></a>
                    </div>
                </div>
                <div class="col-lg-9 p-0" >
                    <div class="row">
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3466.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">히커스</p>
                            <p class="F3 textcut w-100 text-start mb-1">오피스 서류보관 테스크 정리 오거나이저 offlsys 세트</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">12,000원</span>
                                <span class="orange col-2 p-0">(8%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>3,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3508.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">익스트리모</p>
                            <p class="F3 textcut w-100 text-start mb-1">강력흡착 투명 양면테이프 세척사용 가능 3cmX1MX2mm</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">5,000원</span>
                                <span class="orange col-2 p-0">(10%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>4,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3509.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">스템프마마</p>
                            <p class="F3 textcut w-100 text-start mb-1">크래프트 핀셋</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">3,000원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>2,550원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 my-2 p-4 d-none d-xxl-block">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3510.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">아이비스</p>
                            <p class="F3 textcut w-100 text-start mb-1">1300 스틸플러스커터(SP) 11625</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">1,300원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>935원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3466.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">히커스</p>
                            <p class="F3 textcut w-100 text-start mb-1">오피스 서류보관 테스크 정리 오거나이저 offlsys 세트</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">12,000원</span>
                                <span class="orange col-2 p-0">(8%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>3,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3508.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">익스트리모</p>
                            <p class="F3 textcut w-100 text-start mb-1">강력흡착 투명 양면테이프 세척사용 가능 3cmX1MX2mm</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">5,000원</span>
                                <span class="orange col-2 p-0">(10%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>4,500원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3509.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">스템프마마</p>
                            <p class="F3 textcut w-100 text-start mb-1">크래프트 핀셋</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">3,000원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>2,550원</strong></span>
                            </p></a>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-6 my-2 p-4 d-none d-xxl-block">
                            <a href="#">
                            <img class="w-100" src="{% static 'farm/그룹 3510.png' %}">
                            <p class="F4 orange text-start mt-2 m-0">아이비스</p>
                            <p class="F3 textcut w-100 text-start mb-1">1300 스틸플러스커터(SP) 11625</p>
                            <p class="F4 row align-items-center m-0">
                                <span class="text-decoration-line-through gray text-start col p-0">1,300원</span>
                                <span class="orange col-2 p-0">(15%)</span>
                                <span class="F2 text-end col-6 p-0"><strong>935원</strong></span>
                            </p></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <img src="{% static 'farm/이미지 147.png' %}" width="100%">
        <section class="container my-3 px-0">
            <h4 class="p-2" style="text-align:center;">리얼한 구매한 후기</h4>
            <div class="row">
                {% for reviewlist in reviews %}
                <div class="col-lg-6 p-0 my-3">
                    <div class="reviewborder m-1 p-3">
                        <div class="position-relative">
                            <img src="{% static 'farm/그룹 3294.png' %}" class="position-absolute top-0 end-0">
                        </div>
                        <div class="float-start m-2">
                            <img src="{{reviewlist.product_reviewimg_set.first.image.url}}" width="100vw" height="100vh">
                        </div>
                        <div>
                            <p class="F4 text-truncate p-0 m-2"><strong>{{reviewlist.ReTitle}}</strong></p>
                            {% for i in "x"|rjust:"5" %}
                                {% if reviewlist.Evaluate >= forloop.counter %}
                                <img src="{% static 'farm/패스 5724.png' %}">
                                {% else %}
                                <img src="{% static 'farm/패스 5728.png' %}">
                                {% endif %}
                            {% endfor %}
                            <strong class="mx-2 align-middle">{{reviewlist.Evaluate}}</strong>
                            <span class="vr mx-2 align-middle"></span>
                            <span class="align-middle" style="color:#AEAEAE;">{{reviewlist.Reviewer.Unick}}  ·  {{reviewlist.RWriteday|date:"Y-m-d"}}</span>
                            <p class="F4 textcut my-2 w-auto">{{reviewlist.Content}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% if msg %}
        <script>
            alert("{{msg}}");
            location.href="{% url 'index' %}";
        </script>
        {% endif %}
        {% if messages %}
            <script>
            {% for message in messages %}
                alert("{{message.message}}");
            {% endfor %}
            </script>
        {% endif %}
        {% include 'footer.html' %}
    </body>
</html>