{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ko">
    {% include 'head.html' %}
    <body>
        <header class="container-md p-0">
            {% include 'tnb.html' %}
            {% include 'gnb.html' %}
        </header>
        <section class="container-lg my-4 px-0" >
            {% if not proddetail %}
            <h4 class="p-2">{{prodbig}}{{prodmid.Big}}{{prodsma.Mid.Big}}</h4>
            <p class="F3 mx-4"><a class="p-2 {% if prodbig %}fw-bold{% endif %}" href="/product/{{prodbig.Code}}{{prodmid.Big.Code}}{{prodsma.Mid.Big.Code}}">전체</a>{% for i in catmid %}<a class="p-2 {% if i == prodmid or i == prodsma.Mid %}fw-bold{% endif %}" href="/product/{{prodbig.Code}}{{prodmid.Big.Code}}{{prodsma.Mid.Big.Code}}/{{i.Code}}">{{i.Name}}</a>{% endfor %}</p>
            {% if prodmid or prodsma %}
            <p class="F4 mx-2"><a class="p-2 {% if prodmid %}fw-bold{% endif %}" href="/product/{{prodmid.Big.Code}}{{prodsma.Mid.Big.Code}}/{{prodmid.Code}}{{prodsma.Mid.Code}}">전체</a>{% for i in catsma %}<a class="p-2 {% if i == prodsma %}fw-bold{% endif %}" href="/product/{{prodmid.Big.Code}}{{prodsma.Mid.Big.Code}}/{{i.Mid.Code}}/{{i.Code}}">{{i.Name}}</a>{% endfor %}</p>
            {% endif %}
            {% if prodbig %}{{prodbig.Intro | safe}}{% endif %}{% if prodmid %}{{prodmid.Intro | safe}}{% endif %}{% if prodsma %}{{prodsma.Intro | safe}}{% endif %}
            {% if not prodfiter %}
            <div class="d-flex align-items-center justify-content-center" style="height:50vh;">등록된 상품이 없습니다.</div>
            {% endif %}
            <div class="row px-0">
                {% for prodlist in prodfiter %}
                <div class="col-xl-3 col-lg-4 col-6 my-2 p-4">
                    <a href="/product/{{prodlist.Big.Code}}/{{prodlist.Mid.Code}}/{{prodlist.Sma.Code}}/{{prodlist.Code}}">
                    <img class="w-100" src="{{prodlist.product_thumb_set.first.image.url}}" height="300vh">
                    <p class="F4 orange text-start mt-2 m-0">{{prodlist.Seller}}</p>
                    <p class="F3 textcut w-100 text-start mb-1">{{prodlist.Name}}</p>
                    <p class="F4 row align-items-center m-0">
                        <span class="text-decoration-line-through text-start col p-0">{{prodlist.NormalPrice|intcomma}}원</span>
                        <span class="orange col-2 p-0">({{prodlist.Discount}}%)</span>
                        <span class="F2 text-end col-6 p-0"><strong>{{prodlist.EndPrice|intcomma}}원</strong></span>
                    </p></a>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <div class="row px-0 border rounded">
                    <div class="col-md-6 p-0">
                        <img src="{{proddetail.product_thumb_set.first.image.url}}" width="100%" height="450vh" id="thumbnailimg">
                        <div class="hstack gap-1 justify-content-center my-2">
                            {% for prodimg in proddetail.product_thumb_set.all %}
                            <div class="img-thumbnail">
                                <img src="{{prodimg.image.url}}" style="cursor:pointer;" width="100%" height="50vh" onclick="changethumimg(this);">
                            </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <button class="btn btn-outline-secondary rounded ms-3" type="button" id="dropdownMenu2" onclick="share();">
                            <img src="{% static 'farm/share.png' %}"> 공유하기
                        </button>
                        {% comment %} <div class="dropdown">
                            <button class="btn btn-outline-secondary rounded ms-3 dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{% static 'farm/share.png' %}"> 공유하기
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item" type="button"><img src="{% static 'farm/share.png' %}" class="me-3">링크공유</button></li>
                                <li><button class="dropdown-item" type="button"><img src="{% static '그룹 2683.png' %}" class="me-2">페이스북공유</button></li>
                                <li><button class="dropdown-item" type="button"><img src="{% static '사각형 3283.png' %}" class="me-2">네이버공유</button></li>
                            </ul>
                        </div> {% endcomment %}
                    </div>
                    <div class="col-md-6 px-3">
                        <nav class="d-flex pt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 ">
                                <li class="breadcrumb-item">{{proddetail.Big.Name}}</li>
                                <li class="breadcrumb-item">{{proddetail.Mid.Name}}</li>
                                <li class="breadcrumb-item">{{proddetail.Sma.Name}}</li>
                            </ol>
                        </nav>
                        <h4 class="pt-4">{{proddetail.Name}}</h4>
                        <p class="py-2">{{proddetail.SimExplanation}}</p>
                        <table class="table table-borderless">
                            <tr class="border-bottom">
                                <th scope="row">판매자</th>
                                <td>{{proddetail.Seller}}</td>
                            </tr>
                            <tr>
                                <th scope="row">판매가격</th>
                                <td class="text-decoration-line-through">{{proddetail.NormalPrice|intcomma}}원</td>
                            </tr>
                            <tr class="border-bottom">
                                <th scope="row">할인가격</th>
                                <td><h5>{{proddetail.EndPrice|intcomma}}원<span class="orange ms-3">{{proddetail.Discount}}% ↓</span></h5></td>
                            </tr>
                            <tr>
                                <th scope="row">배송방법</th>
                                <td>{{proddetail.Deliver}}</td>
                            </tr>
                            <tr>
                                <th scope="row">배송비</th>
                                <td>{% if proddetail.Deliver.Dprice != None %}{{proddetail.Deliver.Dprice|intcomma}}원{% else %}무료{% endif %}</td>
                            </tr>
                            <tr class="border-bottom">
                                <th scope="row">택배사</th>
                                <td>{{proddetail.Delicom}}</td>
                            </tr>
                            {% if proddetail.Stock < 1000 %}
                            <tr>
                                <th scope="row">재고</th>
                                <td>{{proddetail.Stock}}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th class="align-middle" scope="row">옵션</th>
                                <td>
                                    <div class="d-grid col-12 btn-group">
                                        <button class="btn btn-outline-warning text-start dropdown-toggle" type="button" id="ProductDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                                            -옵션을 선택해주세요-
                                        </button>
                                        <ul class="dropdown-menu w-100" aria-labelledby="ProductDropdown" id="optionli">
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div id="optionfield"></div>
                        <div class="d-flex justify-content-between my-4">
                            <div></div>
                            <h5>총 상품금액</h5>
                            <h5 class="orange" id="otp">0원</h5>
                        </div>
                        <form action="/order/purchase?next={{req.path}}" id="order" method="POST" onsubmit="return isValid();">
                            {% csrf_token %}
                            <div class="d-flex justify-content-between my-4">
                                <div class="d-grid col-2 px-1">
                                    <button class="btn btn-outline-secondary btn-lg" type="button" onclick="">♡</button>
                                </div>
                                <div class="d-grid col-4 px-1">
                                    <button class="btn btn-outline-secondary btn-lg" type="button" onclick="cartsubmit();">장바구니</button>
                                </div>
                                <div class="d-grid col-6">
                                    <button class="btn btn-outline-warning btn-lg" type="submit">구매하기</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <article>
                    <ul class="row nav nav-tabs my-4 justify-content-center" id="scrollspyHeading1">
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link active" href="#scrollspyHeading1">상세설명</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading2">구매후기({{proddetail.product_review_set.all|length}})</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading3">상품문의({{proddetail.product_qna_set.all|length}})</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading4">배송안내</a>
                        </li>
                    </ul>
                    <div class="my-5">
                        {{proddetail.Detail|safe}}
                    </div>
                    <ul class="row nav nav-tabs my-4 justify-content-center" id="scrollspyHeading2">
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading1">상세설명</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link active" href="#scrollspyHeading2">구매후기({{proddetail.product_review_set.all|length}})</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading3">상품문의({{proddetail.product_qna_set.all|length}})</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading4">배송안내</a>
                        </li>
                    </ul>
                    <div class="my-5">
                        <h5>구매후기</h5>
                        <p>상품을 구매하신 분들이 작성하신 리뷰입니다.</p>
                        <div class="bg-secondary bg-opacity-10 p-3 text-center">
                            <div class="row px-0">
                                <h6 class="col ">구매후기 평점</h6>
                                <h6 class="col">전체 구매자</h6>
                            </div>
                            <div class="row px-0 mt-3">
                                <p class="col fs-3" id="reviewstar">
                                </p>
                                <p class="col"><img src="{% static 'farm/people.png' %}" class="mx-2">{{proddetail.product_review_set.all|length}}명 참여</p>
                            </div>
                        </div>
                        {% for reviewlist in proddetail.product_review_set.all %}
                        <div class="col-lg-12 p-0 my-3">
                            <div class="reviewborder m-1 p-3">
                                <div class="position-relative">
                                    <img src="{% static 'farm/그룹 3294.png' %}" class="position-absolute top-0 end-0">
                                </div>
                                <div class="float-start m-2">
                                    <img src="{{reviewlist.product_reviewimg_set.first.image.url}}" width="100vw" height="100vh">
                                </div>
                                <div>
                                    <p class="F4 text-truncate p-0 m-2"><strong>{{reviewlist.ReTitle}}</strong></p>
                                    {% with list='1 2 3 4 5' %}
                                    {% for j in list.split %}
                                        {% if reviewlist.Evaluate >= j %}
                                        <img src="{% static 'farm/패스 5724.png' %}" class="align-middle">
                                        {% else %}
                                        <img src="{% static 'farm/패스 5728.png' %}" class="align-middle">
                                        {% endif %}
                                    {% endfor %}
                                    {% endwith %}
                                    <strong class="mx-2 align-middle">{{reviewlist.Evaluate}}</strong>
                                    <span class="vr mx-2 align-middle"></span>
                                    <span class="align-middle" style="color:#AEAEAE;">{{reviewlist.Reviewer.Unick}}  ·  {{reviewlist.RWriteday|date:"Y-m-d"}}</span>
                                    <p class="F4 textcut my-2 w-auto">{{reviewlist.Content}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <ul class="row nav nav-tabs my-4 justify-content-center" id="scrollspyHeading3">
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading1">상세설명</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading2">구매후기({{proddetail.product_review_set.all|length}})</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link active" href="#scrollspyHeading3">상품문의({{proddetail.product_qna_set.all|length}})</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading4">배송안내</a>
                        </li>
                    </ul>
                    <div class="my-5">
                        <h5>상품문의</h5>
                        <p>구매상품에 대해 궁금하신 점이 있으시다면 문의를 남겨주세요.</p>
                        <button class="btn btn-outline-info float-end" onclick="qnaform(this);">문의작성</button>
                        <table class="table text-center" id="qnalist">
                            <thead>
                                <tr class="text-center">
                                    <th class="col">답변상태</th>
                                    <th class="col-7">제목</th>
                                    <th class="col">작성자</th>
                                    <th class="col">작성일</th>
                                </tr>
                            </thead>
                            <tbody>{% csrf_token %}
                            {% if proddetail.product_qna_set.all %}
                                {% for qnali in proddetail.product_qna_set.all %}
                                <tr>
                                    <th scope="row">{% if qnali.Answer == None %}<span class="fs-bold text-danger">미완료</span>{% else %}<span class="fs-bold text-success">완료</span>{% endif %}</th>
                                    <td class="text-start text-truncate"><a href="#qnalist" onclick="qnaview({{qnali.id}});">{{qnali.QTitle}}</a></td>
                                    <td>{{qnali.Asker.Unick}}</td>
                                    <td>{{qnali.QWriteday|date:"Y-m-d H:i"}}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center py-4" colspan="4">해당상품의 문의가 존재하지 않습니다.</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <div class="bg-secondary bg-opacity-10" id="qnaview"></div>
                        <form method="POST" id="qnaform"></form>
                    </div>
                    <ul class="row nav nav-tabs my-4 justify-content-center" id="scrollspyHeading4">
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading1">상세설명</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading2">구매후기({{proddetail.product_review_set.all|length}})</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link" href="#scrollspyHeading3">상품문의({{proddetail.product_qna_set.all|length}})</a>
                        </li>
                        <li class="col text-center nav-item" role="presentation">
                            <a class="nav-link active" href="#scrollspyHeading4">배송안내</a>
                        </li>
                    </ul>
                    <div class="my-5" id="scrollspyHeading4">
                        <h5>배송안내</h5>
                        <p class="bg-secondary bg-opacity-10 p-3 my-4 rounded">배송정책에 따라 무료배송 또는 배송비 발생 (상품정보에서 배송비 기준 확인가능)</p>
                        <h6 class="m-3">배송비</h6>
                        <p class="my-2 ms-3">도서, 산간, 오지, 일부지역 등은 배송비가 추가될 수 있습니다.</p>
                        <table class="table border my-3">
                            <tbody>
                                <tr>
                                    <th class="table-secondary text-center align-middle" scope="row">배송방법</th>
                                    <td>구매 후, 1~5일(영업일 기준) 이내에 배송됩니다.<br>구매 상품의 재고상황이나 배송 상황, 지역에 따라 배송이 지연될 수 있습니다.<br>예약상품, 주문제작 상품의 경우 제작기간과 배송시기를 확인 후 구매해주시기 바랍니다.</td>
                                </tr>
                            </tbody>
                        </table>
                        <h6 class="m-3">교환/반품</h6>
                        <p class="my-2 ms-3">교환, 반품 시 먼저 판매자와 반품사유, 택배사, 배송비, 반품 주소지 등을 협의한 후 상품을 발송해주시기 바랍니다.</p>
                        <table class="table border my-3" style="font-size:14px;">
                            <tbody>
                                <tr>
                                    <th class="table-secondary align-middle" style="width:15%;">지정 택배사</th>
                                    <td>CJ 대한통운</td>
                                </tr>
                                <tr>
                                    <th class="table-secondary align-middle">교환 배송비</th>
                                    <td>5,000원</td>
                                </tr>
                                <tr>
                                    <th class="table-secondary align-middle">반품 배송비</th>
                                    <td>2,500원</td>
                                </tr>
                                <tr>
                                    <th class="table-secondary align-middle">교환/반품 배송지</th>
                                    <td>서울특별시 금천구 가산디지털2로 14, 503호 아이디어드림 (우 : 08592)</td>
                                </tr>
                                <tr>
                                    <th class="table-secondary align-middle" rowspan="2">교환/반품 사유에<br>따른 요청 가능 기간</th>
                                    <td>구매자 단순 변심은 상품 수령 후 7일 이내 (구매자 반품배송비 부담)</td>
                                </tr>
                                <tr>
                                    <td>표시/광고와 상이, 상품하자의 경우 상품 수령 후 3개월 이내 혹은 표시/광고와 다른 사실을 안 날로부터 30일 이내<br>둘 중 하나 경과 시 교환/반품 불가</td>
                                </tr>
                                <tr>
                                    <th class="table-secondary align-middle">교환/반품 <br>불가능 사유</th>
                                    <td>1. 반품요청기간이 지난 경우<br>
2. 구매자의 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우 (단, 상품의 내용을 확인하기 위하여 포장 등을 훼손한 경우는 제외)<br>
3. 구매자의 책임있는 사유로 포장이 훼손되어 상품가치가 현저히 상실된 경우 (예: 식품, 화장품, 향수류, 음반등)<br>
4. 구매자의 사용 또는 일부 소비에 의하여 상품의 가치가 현저히 감소한 경우 (예: 식품, 화장품, 향수류, 음반등)<br>
5. 시간의 경과에 의하여 재판매가 곤란할 정로도 상품 등의 가치가 현저히 감소한 경우 (예: 식품, 향수류 등)<br>
6. 고객의 요청사항에 맞춰 제작에 들어가는 맞춤제작상품의 경우<br>
7. 복제가 가능한 상품 등의 포장을 훼손된 경우 (예: CD/DVD 등의 무형의 콘텐츠 상품)</td>
                                </tr>
                                <tr>
                                    <th class="table-secondary align-middle">교환/반품<br>참고사항</th>
                                    <td>- 전자상거래 등에서의 소비자 보호에 관한 법률에 의한 반품규정이 판매자가 지정한 반품조건보다 우선합니다.<br>
- 구매자가 미성년자인 경우에는 상품 구입시 법정 대리인이 동의하지 아니하면 미성년자 본인 또는 법정 대리인이 구매취소 할 수 있습니다.<br>
- 사용 중 발생한 하자의 환불/교환/수리 등은 공정거래위원회 소비자분쟁해결기준에 준하여 처리됩니다. (제조사/브랜드 A/S센터로 문의)<br>
- 대금 환불 및 환불 지연에 따른 배상금 지급 조건,절차 등은 전자상거래 등에서의 소비자 보호에 관한 법률에 따라 처리합니다.<br>
- 품질경영 및 공산품안전관리법 규정에 의한 안전검사대상품목인 공산품 및 어린이보호포장대상공산품을 판매 또는 구매하실 경우는 안전검사를 받은 제품이거나 어린이보호포장대상 적용제품인지 확인하시기 바랍니다.<br>
- 전기용품안전관리법 및 전기통신기본법, 전파법에 의거하여 인증 대상 상품을 구매하실 경우, 안전인증 또는 형식승인, 전자파적합등록 제품 여부를 확인하시기 바랍니다.<br>
- 반품/교환 시 고객님 귀책사유로 인해 수거가 지연될 경우에는 반품이 제한될 수 있습니다.<br>
- 쿠폰 이용 할인금액 및 제조사의 사정 및 부품 가격변동 등에 의해 가격이 변동 발생 시 이로 인한 반품 및 가격보상은 불가합니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
                <script>
                    function addComma(val){ //천단위 콤마 펑션
                            val = val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            return val;
                    };
                    var reviewscore=[ {% for review in proddetail.product_review_set.all %}{{review.Evaluate}},{% endfor %} ];
                    var avgscore=reviewscore.reduce(function add(sum,currValue){return (sum+currValue)/reviewscore.length;},0);
                    for (var k=1;k<6;k++){
                        if (avgscore>=k){
                            $('#reviewstar').append(`<img src="{% static 'farm/totalstar.png' %}" class="mx-1" width="50vw">`);
                        } else {
                            $('#reviewstar').append(`<img src="{% static 'farm/totalnonstar.png' %}" class="mx-1" width="50vw">`);
                        };
                    };
                    $('#reviewstar').append('<span class="align-middle ms-2">'+avgscore + `/5</span>`);
                    var text = '{% if proddetail.Option != None %}{{proddetail.Option}}{% else %}{{proddetail.Name}}{% endif %}';
                    var options=text.split(',');
                    var optprice=new Array();
                    var optindex=new Array();
                    var optdisplay=new Array();
                    var tempcount
                    for (var i=0;i<options.length;i++){
                        optprice[i]=options[i].split(':');
                        optindex[i]=i;
                        optdisplay[i]=false;
                        if (typeof(optprice[i][1])!=='undefined'){
                            $('#optionli').append('<li><a class="dropdown-item" onclick="chageoption(this,'+optprice[i][1]+','+optindex[i]+');">'+optprice[i][0]+'&nbsp&nbsp&nbsp'+optprice[i][1]+'원</a></li>');
                            $('#order').append('<input type="hidden" name="option'+i+'" value="'+optprice[i][0]+'"><input type="hidden" name="optioncount'+i+'" value=""><input type="hidden" name="optionprice'+i+'" value="'+optprice[i][1]+'">');
                        } else {
                            $('#optionli').append('<li><a class="dropdown-item" onclick="chageoption(this,0,'+optindex[i]+');">'+options[i]+'</a></li>');
                            $('#order').append('<input type="hidden" name="option'+i+'" value="'+options[i]+'"><input type="hidden" name="optioncount'+i+'" value=""><input type="hidden" name="optionprice'+i+'" value="0">');
                        };
                    };
                    $('#order').append('<input type="hidden" name="totalprice" value="">');
                    function checkstock(){ //옵션 변동사항마다 재고보다 큰값인지 확인
                        tempcount=0;
                        $('#optionfield > div > div > input').each(function(index,value){
                            tempcount=tempcount+parseInt($(value).val());
                        });
                        if (tempcount<{{proddetail.Stock}}){
                            return true;
                        } else {
                            alert("상품의 재고수량을 초과하여 구매할 수 없습니다.");
                            return false;
                        };
                    };
                    function totalchange(){ //옵션의 값들에서총 상품금액 합산
                        ordertotalprice=0;
                        $('#optionfield > div > h6').each(function(index,value){
                            //console.log(index);
                            //console.log(value);
                            temp=$(value).html().replace(/[^\d]+/g, "");
                            temp=temp.replace("원","");
                            temp=parseInt(temp);
                            //console.log(temp);
                            ordertotalprice=ordertotalprice+temp;
                        });
                        //orederprice=ordertotalprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        $('#otp').html(addComma(ordertotalprice)+'원');
                        $('input[name=totalprice]').val(ordertotalprice);
                    };
                    function chageoption(th,price,disp){ //옵션 선택시 옵션 조정 항목을 추가하고 각 기능들에 정보를 넘김. 한항목에 한옵션만 나오게 함.
                        if (checkstock() && !optdisplay[disp]) {
                            optdisplay[disp] = true;
                            $('#optionfield').append(`
                            <div class="bg-secondary bg-opacity-10 row align-items-center my-2 py-1 rounded">
                                <div class="col-6 text-truncate">`+$(th).html()+`</div>
                                <div class="col-2"><input style="width:100%;" type="number" value="1" min="1" oninput="changeprice(this,`+disp+`);"></div>
                                <h6 class="col-3 mb-0 text-end">`+addComma({{proddetail.EndPrice}}+price)+`원</h6>
                                <button class="d-block col-1 btn-close" onclick="removeoption(this,`+disp+`);"></button>
                            </div>`);
                            totalchange();
                            $('input[name=optioncount'+ disp +']').val(1);
                        };
                    };
                    function removeoption(th,disp){ //선택한 옵션의 X버튼을 누를 시에 제거
                        optdisplay[disp]=false;
                        $(th).parent().remove();
                        totalchange();
                        $('input[name=optioncount'+ disp +']').val('');
                        checkstock();
                    };
                    function changeprice(th,disp){ //옵션의 숫자를 바꿀때 가격변경과 총합을 변경실행, 만약 재고값을 초과하면 재고값에 맞추어 차감함.
                        if (checkstock() && $(th).val()>0) {
                        price=$(th).val()*{{proddetail.EndPrice}};
                        //price=price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        $(th).parent().next().html(addComma(price) +'원');
                        totalchange();
                        } else {
                            $(th).val($(th).val()-(tempcount-{{proddetail.Stock}}));
                            //document.location.reload();
                        };
                        $('input[name=optioncount'+ disp +']').val($(th).val());
                    };
                    function changethumimg(th){ //상품이미지 목록들 중 클릭하면 그 상품이미지로 썸네일 사진으로 변경하여 확인
                        $('#thumbnailimg').attr("src",$(th).attr("src"));
                    };
                    //폼 제출시 이상여부 체크 html에서 대부분 필수항목 패턴으로 거르므로 만약의 경우만 대비
                    function isValid(){
                        optcount=0;
                        for (var j=0;j<options.length;j++){
                            if ($('input[name=optioncount'+ j +']').val()!="undefined"){
                                optcount=optcount+$('input[name=optioncount'+ j +']').val();
                            };
                        };
                        if (optcount <= 0 ){
                            alert('구매하려는 옵션을 선택해야 합니다.');
                            return false;
                        };
                        return true;
                    };
                    //장바구니 클릭시 주소 바꿔서 폼 제출
                    function cartsubmit(){
                        if (isValid()){
                            $('#order').attr("action","/order/cart?next={{req.path}}");
                            $('#order').submit();
                        };
                    };
                    //문의하기 폼 작성
                    var qnacliked = false;
                    function qnaform(th){
                        {% if not userexist %}
                        alert('문의를 작성하려면 로그인하세요.');
                        location.href='{% url 'login' %}?next={{req.path}}';
                        {% endif %}
                        if (qnacliked){
                            qnacliked=false;
                            $(th).parent().children().last().html('');
                        } else {
                            qnacliked=true;
                            $(th).parent().children().last().append(`{% csrf_token %}{{form.as_p}}<input type="submit" class="btn btn-success" value="완료">`);
                        };
                    };
                    //qna보기 및 삭제
                    function qnaview(th){
                        $.post(
                            "/qnacontrol",
                            { id: th, csrfmiddlewaretoken:document.getElementsByName("csrfmiddlewaretoken")[0].value },
                            function(idolc){
                                $("#qnaview").html(idolc)
                            }
                        );
                    };
                    function qnaedit(th,pk){//qna수정
                        selected=$(th).parent().parent().parent();
                        qnatit=$(th).parent().parent().children().first().html();
                        qnacon=$(th).parent().prev().prev().html();
                        qnatit=qnatit.replace("제목 : ","");
                        qnacon=qnacon.replace("문의 내용 : ","");
                        selected.html('');
                        qnacliked=true;
                        selected.next().append(`{% csrf_token %}{{form.as_p}}<input type="submit" class="btn btn-success" value="완료">`);
                        $('input[name=QTitle]').val(qnatit);
                        $('textarea[name=Question]').html(qnacon);
                        selected.next().append(`<input type="hidden", name="qnamod" value="`+pk+`">`);
                    };
                    function qnaremove(th,pk){//qna삭제
                        if (confirm("정말로 해당 문의를 삭제하히겠습니까?")){
                            $(th).parent().parent().parent().html('');
                            $('#qnaform').append(`{% csrf_token %}<input type="hidden", name="qnaremove" value="`+pk+`">`);
                            $('#qnaform').submit();
                        };
                    };
                    function qnaclose(){//qna닫기
                            $('#qnaview').html('');
                    };
                    function share(){//공유하기
                        alert("jyr.ideadream.co.kr:7000{{req.path}} 위 경로를 복사해서 다른 친구분들에게 보여주고 자랑해봐요.");
                    };
                </script>
            {% endif %}
        </section>
        {% include 'footer.html' %}
    </body>
</html>