{% load static %}
<!DOCTYPE html>
<html lang="ko">
    {% include 'head.html' %}
    <body>
        <header class="container-md p-0">
            {% include 'tnb.html' %}
            {% include 'gnb.html' %}
        </header>
        <section class="container my-3 px-0">
            <h4 class="p-2">리얼한 구매한 후기</h4>
            <div class="row">
                {% for reviewlist in reviews %}
                <div class="col-lg-6 p-0 my-3">
                    <div class="reviewborder m-1 p-3">
                        <div class="position-relative">
                            <img src="{% static 'farm/그룹 3294.png' %}" class="position-absolute top-0 end-0">
                        </div>
                        <div class="float-start m-2">
                            <img src="{{reviewlist.product_reviewimg_set.first.image.url}}" width="100vw" height="100vh">
                        </div>
                        <div>
                            <p class="F4 text-truncate p-0 m-2"><strong>{{reviewlist.ReTitle}}</strong></p>
                            {% for i in "x"|rjust:"5" %}
                                {% if reviewlist.Evaluate >= forloop.counter %}
                                <img src="{% static 'farm/패스 5724.png' %}">
                                {% else %}
                                <img src="{% static 'farm/패스 5728.png' %}">
                                {% endif %}
                            {% endfor %}
                            <strong class="mx-2 align-middle">{{reviewlist.Evaluate}}</strong>
                            <span class="vr mx-2 align-middle"></span>
                            <span class="align-middle" style="color:#AEAEAE;">{{reviewlist.Reviewer.Unick}}  ·  {{reviewlist.RWriteday|date:"Y-m-d"}}</span>
                            <p class="F4 textcut my-2 w-auto">{{reviewlist.Content}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% include 'footer.html' %}
    </body>
</html>